<div class="products">
  <h2 class="products__title">Products</h2>
  <app-input searchCategoryName="Products"></app-input>
  <app-button buttonName="+ Add Course"></app-button>
  <app-product productTitle="NodeJs course"></app-product>
  <app-product productTitle="Angular course"></app-product>
  <app-product productTitle="React course"></app-product>
</div>
