<a href="#" class="product">
  <h3 class="product__title">{{ productTitle }}</h3>
  <p class="product__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi magni, eaque ipsa iste eveniet culpa, eos similique quod odio itaque ea eum. Sint, maxime veniam. Corrupti officiis, corporis magni ea delectus doloremque quidem ipsa facilis voluptates aliquam ducimus et? Corporis rem iste explicabo quae maiores at officiis ipsam illo error.</p>
</a>
