.product {
  display: block;
  padding: 15px;
  margin-bottom: 20px;
  width: 100%;
  background-color: #E8EDE7;
  color: #000;
  border-radius: 5px;
  text-decoration: none;
  &:hover {
    background-color: #cfd3dc;
  }
  &__title {
    margin-bottom: 10px;
    font-size: 1.4rem;
  }
  &__description {
    font-size: 1rem;
    line-height: 1.4;
  }
}